@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{position: relative; padding:0;margin:0;font-family:'Poppins',sans-serif}

ul{list-style:none}
a{text-decoration:none;outline:none}
body a:hover,body a:focus{color:initial;text-decoration:none}
a:focus{outline:none;text-decoration:none}
textarea:focus{outline:none}
select:focus { outline: none; }
input{outline:none!important}
button,button:focus{outline:none}
a img{border:none}
img{border:0}
p{padding:0;margin:0}
h1,h2,h3,h4,ul,p{padding:0;margin:0}
textarea{resize:none}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#fff}
input:-moz-placeholder,textarea:-moz-placeholder{color:#fff}
/*
input:-webkit-autofill { border: 1px solid #e4e4e5; -webkit-text-fill-color: rgba(49,50,51,1); -webkit-box-shadow: 0 0 0px 1000px #f5f5f6 inset; transition: background-color 5000s ease-in-out 0s;}

input:-internal-autofill-selected { background-color:#f5f5f6!important; -webkit-box-shadow: 0 0 0px 1000px #f5f5f6 inset;}

input:-webkit-autofill:hover, 
input:-webkit-autofill:focus { border: 1px solid #e4e4e5; -webkit-text-fill-color: rgba(49,50,51,1); -webkit-box-shadow: 0 0 0px 1000px #f5f5f6 inset; transition: background-color 5000s ease-in-out 0s;}
*/

input::-moz-placeholder{opacity:1;outline:none}
textarea::-moz-placeholder{opacity:1;outline:none}
.clr{clear:both;height:0}
ul{padding:0;list-style:none}
a{text-decoration:none;-moz-transition:all .2s;-webkit-transition:all .2s;transition:all .2s}
a:hover{text-decoration:none;-moz-transition:all .2s;-webkit-transition:all .2s;transition:all .2s}

/*Comman Classes*/
.themebgcolor { background: #050D1D; }
.bgdarkbluecolor { background: #0A1F3A; }
.textwhitecolor { color: #FFFFFF;}
.textbluecolor { color: #019DEA; }
.textgraycolor { color: #B1BBD4;}
.btnlightblue {background: #019DEA; font-weight: 500; font-size: 15px;}
.btndarkblue {background: #0E2542; font-weight: 500; font-size: 15px;}
button.btn {border:none;padding:20px 20px;min-width:180px;border-radius:5px;color:#fff;text-align:center;}
button.btn:hover, button.btn:focus { background: #000; color: #fff; outline: none; box-shadow: none; }
.filterbtn { border: 1px solid rgba(94, 102, 125, 0.7); border-radius: 10px; background: none; font-weight: 400; font-size: 14px; color: #fff; padding: 10px 20px; width: 100%; }

/*end*/



/*Compontent CSS*/
.creatorImg img{width:100%;}
.creators{position:relative;}
.creatorIcon{margin:-40px auto 0;display:table;position:absolute;left:0;right:0;width:65px;}
.creatorsText{padding:45px 10px 40px;}
.creatorIcon h2{margin:0 0 10px;}
.creatorsText h2{font-weight:500;font-size:15px;margin:0 0 15px;}
.creatorsText h3{font-weight:300;font-size:12px;margin:0 0 20px;}
.creatorsText p{font-weight:300;font-size:14px;line-height:21px;}
.creatorsText{border-radius:0 0 10px 10px;background: rgba(10, 31, 58, 0.5);}
.creatorcheck{position:absolute;top:49px;left:53px;}
.creatorcheck img{width:18px;}
.aboutitemImg img{width:100%;}
.aboutitemcnt{border-radius:0 0 10px 10px;padding:20px;display:flex;justify-content:space-between;align-items:flex-start;align-content:flex-start;}
.itemtitlecode h2{font-size:12px;margin:0 0 10px;}
.itemtitlecode h3{font-weight:500;font-size:14px;}
.itemtitlecode h4 { font-weight: 400; font-size: 12px; margin: 13px 0 0; }
.itemtitlePrice { text-align: right; }
.itemtitlePrice h2{font-size:12px;margin:0 0 10px;}
.itemtitlePrice h3{margin:0 0 15px;line-height:10px;}
.itemtitlePrice h3 strong{font-weight:400;font-size:14px;display:inline-block;vertical-align:middle;}
.itemtitlePrice h3 img{display:inline-block;vertical-align:middle;width:12px;}
.itemtitlePrice h4{font-size:12px;}
.itemtitlePrice h4 img{width:15px;display:inline-block;vertical-align:middle;margin:0 5px 0 0;}
.seller{display:flex;width:100%;align-items:center;align-content:center;justify-content:space-between;}
.sellerLeft{display:inline-flex;align-items:center;align-content:center;}
.sellcount{padding:0 20px 0 0;font-size:14px;}
.sellerimg{padding:0 20px 0 0;width:90px;position:relative;}
.bluecheckicon{position:absolute;top:43px;left:46px;}
.sellerPrice{font-size:14px;}
.sellerimg > img{width:80px;}
.sellertitlepr h2{font-size:14px;color:#202020;margin:0 0 10px;}
.sellertitlepr h3{font-weight:600;font-size:14px;color:#5B5B5B;display:inline-block;vertical-align:middle;}
.sellertitlepr h3 img{width:11px;display:inline-block;vertical-align:middle;margin:0 5px 0 0;}
.headingWh { font-weight: 600; font-size: 30px; color: #fff; }

/*end*/


/*Home style 4*/
.circlebg1 { position: absolute; left: 0; top: 0; z-index: -1; } 
.circlebg2 { position: absolute; left: 0; right: 0; top: 30px; z-index: -1; margin: auto; text-align: center; } 
.circlebg3 { position: absolute; right: 0; top: 0;z-index: -1; }
header {padding: 35px 0 0; z-index: 1; position: relative; }
.logo{display:inline-flex;align-items:center;align-content:center;min-width: 100px;}
.searchform{display:inline-flex;align-items:center;align-content:center;}


/*header .row .col-md-12{display: flex; align-items:center;align-content:center; justify-content: space-between;}*/
.loginWallet a.btn { min-width: inherit; width: 43px; height: 43px; background: #102944; display: inline-flex; align-items: center; align-content: center; justify-content: center; border-radius: 90px; }
.loginWallet a.btn img { margin-left: -1px; }
.loginWallet a.btn:hover, 
.loginWallet a.btn:focus { background: #019dea; }




.searchform form input{width:100%;background:rgb(19 45 78 / 50%);border:none;border-radius:10px;padding:12px 11px 12px 53px;font-weight:300;font-size:13px;color:#B1BBD4;}
.searchform{width:100%;max-width:360px;margin: 0 40px;}
.searchform form{width:100%;position:relative;}
.searchform button{position: absolute; border: none; background: none; left: 17px; top: 9px; padding: 0;}
.searchform button img{width:15px;}

nav.navbar{display:inline-flex;align-items:center;align-content:center;vertical-align: middle;}
nav.navbar .navbar-nav .nav-link{font-weight:500;font-size:14px;color:#E4E4E4;padding:0;}
nav.navbar .navbar-nav .nav-link:hover,
nav.navbar .navbar-nav .nav-link:focus,
nav.navbar .navbar-nav .nav-item.active .nav-link{ color: #019dea; }
nav.navbar .navbar-nav li.nav-item{margin:0 48px 0 0;}

.dropdown-menu{background:#070F20;border:none;}
.dropdown-menu li a.dropdown-item{color:#E4E4E4;font-weight:400;font-size:14px;}
.dropdown-menu li{margin:0 0 14px;}
.dropdown-menu li:last-child{margin:0;}
.dropdown-menu li a.dropdown-item:hover,.dropdown-menu li a.dropdown-item:focus{color:#019DEA;background:none;}


/*nav.navbar .navbar-nav li.nav-item:last-child{margin:0;}*/
nav.navbar .dropdown-toggle::after, .loginWallet .dropdown-toggle::after{display:none;}
.loginWallet{align-items:center;align-content:center;vertical-align: middle;}
.loginWallet button{padding:0;}

/*.loginWallet .dropdown:hover .dropdown-menu { display: block; }*/


.searchform form input::-webkit-input-placeholder {color:#B1BBD4;}

.bannerImg{position:relative;display:inline-flex;}
.bannerSec{ position: relative; padding:100px 0;}
.bannerimg01{margin:0 -85px 0 0;}
.bannerimg02{margin:25px -55px 0 0;}
.bannerimg03{margin:55px 0 0 -30px;}
.bannercntSec{display:flex;align-items:flex-start;align-content:flex-start;justify-content:space-evenly;}
.bannercnt{display:inline-flex;flex-wrap:wrap;padding:16px 0 0 0;max-width:400px;width:100%;}
.bannercnt h2{font-size:35px;line-height:52px;margin:0 0 40px;}
.bannercnt p{font-size:20px;margin:0 0 40px;line-height:30px;}
.nav.nav-tabs {border: none;margin: 0 0 40px;}
.nav.nav-tabs button {padding: 15px 25px; font-weight: 500; font-size: 14px; color: #E5F0FF; text-align: center; margin: 0 20px 0 0;    border: none; border-radius: 5px;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link { background: #0E2542; color: #fff; border-color: #1f487c #1f487c #1f487c;}


button.navbar-toggler { display: none; }



/*more tab css*/
.more-tab { position: relative; display: inline-flex; vertical-align: middle; align-items: center; align-content: center; }
.more-tab > a {  }

.more-tab > a:hover,
.more-tab > a:focus { color: #019DEA; }
.more-tab > a img { margin-left: 7px;}
.more-box {opacity: 0;z-index: -999; min-width: 200px ; background: #0e2542; box-shadow: 0 0 7px rgb(0 0 0 / 10%); position: absolute; top: 40px ; left: 0; }

.more-box{max-height:209px;overflow-x:auto;}
.more-box{scrollbar-color:#2abb9b #e0e0e0;scrollbar-width:thin;}
.more-box::-webkit-scrollbar{width:6px;}
.more-box::-webkit-scrollbar-track{background:#e0e0e0;border-radius:20px;-webkit-border-radius:20px;}
.more-box::-webkit-scrollbar-thumb{background:#000;border-radius:20px;-webkit-border-radius:20px;}




.more-tab:hover > .more-box{opacity: 1;z-index: 1;animation: moretab .7s ease forwards;}
@keyframes moretab{
from{top: 45px;}
to{top: 35px;}
}
.more-box .nav-link { width: 100%; text-align: left;border-color: #e9ecef #e9ecef #dee2e6;border-width: 1px; }

.more-box button.nav-link { margin: 0; padding: 10px 15px; border-bottom: 1px solid #1f487c; border-radius: 0; text-align: left; }
.more-box button.nav-link:last-child { border-bottom: none; }
.more-box button.nav-link:hover, .more-box button.nav-link:focus { border-bottom-color:#1f487c; background: #019DEA;}

.topSellers ul li{display:inline-block;width:31%;margin:0 1% 0;}
.topSellers ul{margin:0 -1%;color:#E5F0FF;}
.topSellers ul li .sellertitlepr h2{color:#E5F0FF;}
.topSellers ul li .sellertitlepr h3{color:#fff;}

.topSellers li .seller { border-bottom:  0.5px solid #3E526C; padding: 12px 0; }
.topSellers li .seller:last-child { border-bottom: none; }



.createsellHead{display:flex;align-items:center;align-content:center;padding:0 0 20px;}
.creatsellicon{padding:0 15px 0 0;}
.creatsellicon img { height: 65px; object-fit: contain; }
.createsellHead h3{font-weight:600;font-size:16px;}
.createsell p{font-size:14px;line-height:21px;}
footer{padding:70px 0;background:rgba(10,31,58,0.5);margin:150px 0 0;}
footer .col-xl-8 { padding-left: 150px; }
.footlogo{margin:0 0 40px;}
.footlogo img { width: 130px; }
.footlogocntSec p{margin:22px 0 37px;color:#AAB0C0;font-weight:400;font-size:14px;}
.joincommunity h3{font-weight:600;font-size:15px;color:#fff;margin:0 0 20px 0;}
.joincommunity ul li{margin:0 7px 0 0;display:inline-block;width:36px;height:36px;vertical-align:middle;}
.joincommunity ul li:last-child { margin: 0; }
.footlinks{display:inline-block;}
.footlinks h2{font-weight:600;font-size:14px;color:#fff;margin:0 0 20px;}
.footlinks ul li{margin:0 0 14px;}
.footlinks ul li:last-child { margin: 0; }
.footlinks ul li a{font-size:14px;color:#E5F0FF;}
.footsec{padding:0 80px 0 0;}
.footlinks ul li a:hover,.footlinks ul li a:focus{color:#019dea;}

.joincommunity ul li a { display: flex; width: 36px; height: 36px; background: #0a1f3a; border-radius: 60px; align-items: center; align-content: center; justify-content: center; } 
.joincommunity ul li a:hover, .joincommunity ul li a:focus { background: #019dea; }



#elevator_item{width:40px;height:50px;position:fixed;right:15px;bottom:-8px;-webkit-transition:opacity .4s ease-in-out;-moz-transition:opacity .4s ease-in-out;-o-transition:opacity .4s ease-in-out;opacity:1;z-index:100020;display:none;}
#elevator_item.off{opacity:0;visibility:hidden}
#elevator{display:block;width:40px;height:40px;background:url(../img/icon_top.webp) center center no-repeat;background-size:15px;background-color:#019dea;border-radius:2px;box-shadow:0 1px 3px rgba(0,0,0,.2);cursor:pointer;margin-bottom:10px;}
#elevator:hover{background-color:rgba(0,0,0,.7)}

/*Home Style 3*/
.bannerSecHome3 .bannercntSec{padding: 0 0 0 90px;background:rgba(10,31,58,0.4);border-radius:10px;justify-content:space-between;align-items:center;align-content:center;}
.bannerSecHome3 .bannercnt{padding: 0; max-width:100%;width:50%;align-items:flex-end;justify-content:flex-start;align-content:flex-end;flex-wrap:wrap;}

/*Discover 2*/
.disbluebritbg { position: absolute; left: 0;z-index: -1; }
.filtertop { display: flex; justify-content: space-between; }
.filterLeft{display:inline-flex;width:53%;margin-left:-0.5%;}
.filterRight{display:inline-flex;}
.filterLeft .btn-group{width:32%;margin:0 1.5%;}

.filterRight button.btn{min-width:inherit;padding:10px 20px;margin:0 17px 0 0;font-weight:500;font-size:14px;color:#F1DFDF;}


.filterbtn.dropdown-toggle::after { border: none; content: ''; background: url(../img/downwh.svg)0 0 no-repeat; width: 15px; height: 9px; position: absolute; right: 15px; top: 17px; }

.filterLeft .dropdown-menu { width: 100%; }
.filtertop:last-child { border-top: 0.5px solid #3E526C; padding: 30px 0 0; margin: 30px 0 0; }

.filtertop:last-child .filterLeft { width: 78%; }















/*Responsive*/
@media (min-width:1200px) {
.navbar .nav-item:hover .dropdown-menu {display: block;}

}


@media (max-width:1399px) {
nav.navbar .navbar-nav li.nav-item { margin: 0 23px 0 0; }
.searchform { margin: 0 28px; }
.bannerSecHome3 .bannercntSec { padding: 0 0 0 40px; }
}


@media (max-width:1199px) {
header .col-md-12 { position: relative; }
button.navbar-toggler { display: inline-block;position: absolute; right: 0; top:6px; padding: 0; border: none; }
.navbar-toggler:hover, .navbar-toggler:focus { box-shadow: none; outline: none; }

nav.navbar { position: absolute; left: 0; right: 0; width: 100%; top: 0; border-radius: 10px; background: #020A18; z-index: 9; padding: 0; }

ul.navbar-nav { padding: 50px; }
.navbar-toggler .hamburger-toggle{position:relative;display:inline-block;width:55px;height:50px;z-index:11;float:right;}
.navbar-toggler .hamburger-toggle .hamburger{position:absolute;transform:translate(-50%,-50%) rotate(0deg);left:50%;top:50%;width:50%;height:50%;pointer-events:none;}
.navbar-toggler .hamburger-toggle .hamburger span{width:100%;height:3px;position:absolute;background:#019DEA;border-radius:2px;z-index:1;transition:transform 0.2s cubic-bezier(0.77,0.2,0.05,1),background 0.2s cubic-bezier(0.77,0.2,0.05,1),all 0.2s ease-in-out;left:0px;}
.navbar-toggler .hamburger-toggle .hamburger span:first-child{top:10%;transform-origin:50% 50%;transform:translate(0% -50%)!important;}
.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2){top:50%;transform:translate(0,-50%);}
.navbar-toggler .hamburger-toggle .hamburger span:last-child{left:0px;top:auto;bottom:10%;transform-origin:50% 50%;}
.navbar-toggler .hamburger-toggle .hamburger.active span{position:absolute;margin:0;}
.navbar-toggler .hamburger-toggle .hamburger.active span:first-child{top:45%;transform:rotate(45deg);}
.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2){left:50%;width:0px;}
.navbar-toggler .hamburger-toggle .hamburger.active span:last-child{top:45%;transform:rotate(-45deg);}


.bannerSec { padding: 50px 0; }
.bannercntSec{flex-wrap:wrap;flex-direction:column-reverse;justify-content:center;text-align:center;}
.bannercnt{width:100%;max-width:100%;text-align:center;justify-content:center;flex-wrap:wrap;}
.bannerbtn { width: 100%; }
.bannercnt h2 { max-width: 50%; font-size: 25px; line-height: 30px; margin: 0 auto 25px; }
.bannercnt p { margin: 0 0 40px; width: 100%; font-size: 15px; }
.bannerImg { width: 100%; text-align: center; justify-content: center;flex-wrap: wrap; }
.bannerbtn { margin-top: 40px; }
.topSellers ul li { width: 47%; }
.topSellers ul li:last-child { display: none; }
.headingWh { font-size: 20px; }
.createsell { border-bottom: 0.5px solid #3E526C; padding: 0 0 20px; margin: 0 0 20px; min-height: 150px; }
footer { margin: 50px 0 0; }
.popularcollections .row .col-md-6:nth-child(3) .createsell, .popularcollections .row .col-md-6:nth-child(4) .createsell { border-bottom: none; }
footer .row { flex-direction: column-reverse; }
footer .col-xl-8 { padding-left: 15px; }
.footsec { padding: 40px 0 0; display: flex; align-items: center; align-content: center; justify-content:flex-start; }
.footlogocntSec { width: 60%; }
.footlogocntSec p { margin: 0 0 0; max-width: 80%; }
/*Home Sytle 3*/
.bannerSecHome3 .bannercntSec { padding: 0; flex-direction: revert; justify-content: center; background: no-repeat; }
.bannerSecHome3 .bannercnt { width: 100%; }


/*discover*/
.TopsellerSec .topSellers ul li{width:100%;}
.TopsellerSec .topSellers ul li:first-child .seller:first-child { padding-top: 30px; }
.TopsellerSec .topSellers ul li:first-child .seller:first-child .sellerLeft:before { content: 'Authore'; font-weight: 500; font-size: 13px; color: #ECECEC; text-transform: uppercase; position: absolute; left: 0; top: -40px; }

.TopsellerSec .sellertitlepr h3 { position: relative; }
.TopsellerSec .topSellers ul li:first-child .seller:first-child .sellertitlepr h3:before { content: 'EARNED'; font-weight: 500; font-size: 13px; color: #ECECEC; text-transform: uppercase; position: absolute; left: 0; top: -40px; }

.TopsellerSec .sellerLeft{width:80%; position: relative;}
.TopsellerSec .sellerPrice{width:20%;text-align:right; position: relative;}

.TopsellerSec .topSellers ul li:first-child .seller:first-child .sellerPrice:before { content: 'INCREASE %'; font-weight: 500; font-size: 13px; color: #ECECEC; text-transform: uppercase; position: absolute; right: 0; top: -40px; }


.TopsellerSec .sellertitlepr{width:100%;display:flex;}
.TopsellerSec .sellertitlepr h2{width:80%;padding:0 10px 0 0;}

/*Discover 2*/
.filtertop { flex-wrap: wrap;flex-direction: column-reverse;}
.filterLeft { width: 100%; margin-left: 0; justify-content: space-between;}
.filterRight { margin-bottom: 20px; }
.filterLeft .btn-group { margin: 0; }
.filtertop:last-child .filterLeft { width: 100%; }
.filterRight button.btn:last-child { margin-right: 0; }
}

@media (min-width:768px) and (max-width: 1199px) {
nav.navbar .dropdown-menu{display:block; background: none; margin: 20px 0 0;}
nav.navbar .dropdown-menu li a.dropdown-item { padding: 0; }
nav.navbar .navbar-nav .nav-link { font-size: 20px; }
nav.navbar .navbar-nav li.nav-item{margin:0 1% 50px;display:inline-block;vertical-align:top;width:31%;}
.navbar-nav{flex-direction:inherit;flex-wrap:wrap;display:inherit;}
}

@media (min-width:768px) and (max-width: 991px) { 
ul.navbar-nav { padding: 40px 20px 10px; }
nav.navbar .navbar-nav li.nav-item { width: 30%; }
}


@media (max-width:991px) {
.nav.nav-tabs button { margin: 0 6px 0 0; }
button.btn { padding: 10px 10px;min-width: 170px; }
.nav.nav-tabs button { padding: 10px 20px; }
.footlogo img { width: 90px; }
.searchform { margin: 0 20px; }
}


@media (max-width:767px) {
header .container { width: 100%; max-width: 100%; }
.searchform form input {padding: 18px 14px 18px 49px;}
.searchform button { top: 17px; }
.searchform button img { width: 19px; }
ul.navbar-nav { padding: 30px; }
header { padding:15px 0; background: #050D1D; box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); }
button.navbar-toggler { top: 4px;right: 15px; }
.searchform { margin: 40px 0 10px; max-width: 100%; padding: 0 30px; }
nav.navbar .navbar-nav li.nav-item { margin: 0 0 28px; }
nav.navbar .navbar-nav .nav-link { position: relative; }
nav.navbar .navbar-nav .nav-link:before { position: absolute; content: ''; right: -4px; top: 7px; background: url(../img/downsmicon.png) 0 0 no-repeat; width: 15px; height: 10px; }
.logo {width: 100%;justify-content: center;}
.bannercntSec { flex-direction: revert; }

.bannercnt { padding: 40px 0 0; }
/*.slick-slide { padding: 0; }*/
/*.slick-slider { padding: 0 15px; }*/
.circlebg2 { top: 80px; }
.circlebg1, .circlebg3 { display: none; }
.bannercnt h2 { max-width: 100%;margin: 0 0 14px; }
.bannercnt p { margin: 0; color: #fff;}
.bannerbtn { margin-top: 30px; }
.bannerbtn button.btn { width: 100%; margin: 0 0 20px!important; max-width: 300px; }
.headingWh { text-align: center; font-weight: 500; font-size: 22px; }
.more-tab { margin: auto; }
.topSellers ul li { width: 100%; margin: 0; }
.topSellers li .seller:last-child { border-bottom: 0.5px solid #3E526C; }
.TopsellerSec .nav.nav-tabs { margin: 0 0 20px; }
.topSellers button.btn { width: 100%; margin: auto; max-width: 300px; display: block; }
.sellertitlepr h2 { font-weight: 400; }
.sellertitlepr h3 { font-weight: 400; }
.sellerimg { padding: 0 10px 0 0; width: 74px; }
.sellcount { padding: 0 10px 0 0; }
.bluecheckicon { position: absolute; top: 26px; left: 28px; }
.topSellers li .seller { align-items: flex-end; }
.nav.nav-tabs button {margin: 0;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {border-color: #1f487c #1f487c #1f487c;}
.createsellHead { flex-wrap: wrap; justify-content: center; }
.createsell { text-align: center; }
.creatsellicon { padding: 0; }
.createsellHead h3 { width: 100%; margin: 10px 0 0; font-weight: 500; font-size: 17px; }
.popularcollections .headingWh {font-size: 22px; max-width: 70%; margin: auto; font-weight: 500; }
.popularcollections .row .col-md-6:nth-child(3) .createsell {border-bottom: 0.5px solid #3E526C;}
footer { margin: 20px 0 0; padding:30px 0 40px; }
.footsec { padding: 0; flex-wrap: wrap; justify-content: center; text-align: center; }
.footlogocntSec { width: 100%; }
.footlogocntSec p { max-width: 100%;margin: 10px 0 30px; }

/*Home Style 3*/
.bannerSecHome3 .bannercntSec { flex-direction: column-reverse; }
/*discover 1*/
.TopsellerSec .topSellers ul li:first-child .seller:first-child .sellerLeft:before,
.TopsellerSec .topSellers ul li:first-child .seller:first-child .sellertitlepr h3:before,
.TopsellerSec .topSellers ul li:first-child .seller:first-child .sellerPrice:before { display: none; }
.TopsellerSec .sellertitlepr { flex-wrap: wrap; }
.TopsellerSec .sellertitlepr h2 { width: 100%; padding: 0; }
}


@media (max-width:575px) {

}


@media (max-width:480px) {

}

